In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/dataset2/Extra_data.csv
/kaggle/input/international-football-results-from-1872-to-2017/goalscorers.csv
/kaggle/input/international-football-results-from-1872-to-2017/shootouts.csv
/kaggle/input/international-football-results-from-1872-to-2017/results.csv
/kaggle/input/fifaworldranking/fifa_ranking-2024-04-04.csv
/kaggle/input/fifaworldranking/fifa_ranking-2023-07-20.csv
/kaggle/input/games-since-2010-csv/games_since_2010.csv

# Inladen data

Lees de data in, voeg het jaartal van de wedstrijd toe en creëer een subset met de wedstrijden vanaf 2010

In [2]:
# games = pd.read_csv("/kaggle/input/international-football-results-from-1872-to-2017/results.csv")

# games['date'] = pd.to_datetime(games['date'], format='%Y-%m-%d')
# games['year'] = games['date'].dt.year
# games_since_2010 = games[games['date'] >= "2010-01-01"]

# games_since_2010.head()

# Definiëren functies

Maak drie functies voor het ophalen van recente wedstrijdgegevens. Per wedstrijd worden de meest recente wedstrijden van beide teams en de meest recente onderlinge wedstrijden opgehaald en wordt het gemiddelde aantal gescoorde goals en de win en loss rate berekend. Het aantal wedstrijden is variabel en wordt als argument meegegeven bij het aanroepen van de functies.

In [3]:
# def get_stats(row, team):
#     if row['home_team'] == team:
#         return [row['home_score'], 1 if row['home_score'] > row['away_score'] else 0, 1 if row['home_score'] < row['away_score'] else 0]
#     else:
#         return [row['away_score'], 1 if row['away_score'] > row['home_score'] else 0, 1 if row['away_score'] < row['home_score'] else 0]
    
# def get_recent_stats(row, n_matches, home_away):
#     df = games.loc[((games['home_team'] == row[home_away]) | (games['away_team'] == row[home_away]))
#                     & (games['date'] < row['date'])].sort_values('date', ascending=False).head(n_matches)
#     if not df.empty:
#         df[['team_score', 'team_win', 'team_loss']] = df.apply(get_stats, axis=1, args=(row[home_away],), result_type='expand')
#     else:
#         df[['team_score', 'team_win', 'team_loss']] = pd.DataFrame(columns=['team_score', 'team_win', 'team_loss'])
#     return [df['team_score'].mean(), df['team_win'].mean(), df['team_loss'].mean()]

# def get_head_to_head_stats(row, n_matches, home_away):
#     df = games.loc[((games['home_team'] == row['home_team']) & (games['away_team'] == row['away_team'])
#                     | (games['home_team'] == row['away_team']) & (games['away_team'] == row['home_team']))
#                    & (games['date'] < row['date'])].sort_values('date', ascending=False).head(n_matches)
#     if not df.empty:
#         df[['team_score', 'team_win', 'team_loss']] = df.apply(get_stats, axis=1, args=(row[home_away],), result_type='expand')
#     else:
#         df[['team_score', 'team_win', 'team_loss']] = pd.DataFrame(columns=['team_score', 'team_win', 'team_loss'])
#     return [df['team_score'].mean(), df['team_win'].mean(), df['team_loss'].mean()]

# Functies toepassen op dataset

De functies worden toegepast op de dataset met wedstrijden vanaf 2010 om voor elke wedstrijd kolommen toe te voegen met het gemiddelde aantal goals (ag), win rate (wr) en loss rate (lr) voor de recente wedstrijden (rec) en de onderlingen wedstrijden (h2h).

In [4]:
# recent_matches = 5

# # test_nl = games_since_2010.loc[(games_since_2010['home_team'] == "Netherlands") | (games_since_2010['away_team'] == "Netherlands")].drop(['tournament', 'city', 'country', 'neutral'], axis=1)
# # test_nl = test_nl.head(20)
# games_since_2010[['home_rec_ag', 'home_rec_wr', 'home_rec_lr']] = games_since_2010.apply(get_recent_stats, axis=1, args=(recent_matches, 'home_team'), result_type='expand')
# games_since_2010[['away_rec_ag', 'away_rec_wr', 'away_rec_lr']] = games_since_2010.apply(get_recent_stats, axis=1, args=(recent_matches, 'away_team'), result_type='expand')
# display(games_since_2010.head(10))

In [5]:
# head_to_head_matches = 3

# games_since_2010[['home_h2h_ag', 'home_h2h_wr', 'home_h2h_lr']] = games_since_2010.apply(get_head_to_head_stats, axis=1, args=(recent_matches, 'home_team'), result_type='expand')
# games_since_2010[['away_h2h_ag', 'away_h2h_wr', 'away_h2h_lr']] = games_since_2010.apply(get_head_to_head_stats, axis=1, args=(recent_matches, 'away_team'), result_type='expand')
# display(games_since_2010.head(10))

*Sla de resultaten op, aangezien het toepassen van de functies een tijdje duurt*

In [6]:
# games_since_2010.to_csv('games_since_2010.csv', index=False)

# Inladen dataset inclusief recente en onderlinge resultaten

Wanneer je niets aan de input hoeft te veranderen kun je hier beginnen

In [7]:
games_since_2010 = pd.read_csv('/kaggle/input/games-since-2010-csv/games_since_2010.csv')
display(games_since_2010.tail())

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,...,home_rec_lr,away_rec_ag,away_rec_wr,away_rec_lr,home_h2h_ag,home_h2h_wr,home_h2h_lr,away_h2h_ag,away_h2h_wr,away_h2h_lr
13829,2024-07-10,NaN,NaN,NaN,NaN,UEFA Euro,Dortmund,Germany,True,2024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13830,2024-07-10,NaN,NaN,NaN,NaN,Copa América,Charlotte,United States,True,2024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13831,2024-07-13,NaN,NaN,NaN,NaN,Copa América,Charlotte,United States,True,2024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13832,2024-07-14,NaN,NaN,NaN,NaN,UEFA Euro,Berlin,Germany,True,2024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13833,2024-07-14,NaN,NaN,NaN,NaN,Copa América,Miami Gardens,United States,True,2024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# FIFAranking data inladen en opschonen
fifaranking = pd.read_csv('/kaggle/input/fifaworldranking/fifa_ranking-2024-04-04.csv')
fifaranking['year'] = pd.to_datetime(fifaranking['rank_date']).dt.year
fifaranking = fifaranking[['rank', 'country_full', 'country_abrv', 'total_points', 'confederation', 'year']]
fifaranking['country_full'] = np.where(fifaranking['country_full'] == 'Czechia', "Czech Republic", fifaranking['country_full'])

# calculate mean rank and total_points for each country per year
annual = fifaranking.groupby(['year', 'country_full'])[['rank', 'total_points']].agg('mean')
fifaranking_annual = pd.DataFrame(annual.reset_index())

# make new column calculating the distance between annual ranks for each country
fifaranking_annual['annual_distance_rank'] = fifaranking_annual.groupby('country_full')['rank'].diff().fillna(0).round(1)

# make new column calculating the running minimum (highest rank)
fifaranking_annual = fifaranking_annual.sort_values(by=['country_full', 'year'])
def rolling_minimum(group):
    group['highest_rank_rolling'] = group['rank'].rolling(window=len(group), min_periods=1).min()
    return group
fifaranking_annual = fifaranking_annual.groupby('country_full').apply(rolling_minimum)

# make new column calculating the distance between annual points for each country
fifaranking_annual['annual_distance_points'] = fifaranking_annual['total_points'].diff().fillna(0).round(1)

# rolling average rank per country per year
def rolling_avg(group):
    group['avg_rank_rolling'] = group['rank'].rolling(window=len(group), min_periods=1).mean().round(1)
    return group
fifaranking_annual.reset_index(drop=True, inplace=True)
fifaranking_annual = fifaranking_annual.groupby('country_full').apply(rolling_avg)

#table order
fifaranking_annual = fifaranking_annual[['country_full', 'year', 'rank', 'annual_distance_rank', 'avg_rank_rolling', 'highest_rank_rolling', 'total_points', 'annual_distance_points']]
fifaranking_annual = fifaranking_annual.reset_index(drop=True)

/tmp/ipykernel_34/3973756966.py:19: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  fifaranking_annual = fifaranking_annual.groupby('country_full').apply(rolling_minimum)
/tmp/ipykernel_34/3973756966.py:29: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  fifaranking_annual = fifaranking_annual.groupby('country_full').apply(rolling_avg)

In [9]:
## soccer results inladen en opschonen
footballresults = pd.read_csv('/kaggle/input/international-football-results-from-1872-to-2017/results.csv')

## 3,1,0 punten toegeven aan elke wedstrijd
footballresults['punten_home'] = np.where(footballresults['away_score'] < footballresults['home_score'], 3, np.where(footballresults['home_score'] == footballresults['away_score'], 1, 0))
footballresults['punten_away'] = np.where(footballresults['away_score'] > footballresults['home_score'], 3, np.where(footballresults['home_score'] == footballresults['away_score'], 1, 0))

## Home en away teams gegevens scheiden en onderelkaar plakken
home = footballresults[['date', 'home_team', 'punten_home']].rename(columns={'home_team': 'team', 'punten_home': 'punten'})
away = footballresults[['date', 'away_team', 'punten_away']].rename(columns={'away_team': 'team', 'punten_away': 'punten'})
landenpunten = pd.concat([home, away], ignore_index=True)
landenpunten['date'] = pd.to_datetime(landenpunten['date'])
landenpunten['year'] = landenpunten['date'].dt.year
landenpunten = landenpunten.drop(columns=['date'])
landenpunten.dropna(inplace=True)

## Per land het aantal punten per jaar sommeren
landengroepen = pd.DataFrame(landenpunten.groupby(['year', 'team'])['punten'].sum()).reset_index()

## fifa en landen samenvoegen
total_df = fifaranking_annual.merge(landengroepen, left_on=['year', 'country_full'], right_on=['year', 'team'])
total_df = total_df.drop(columns=["team"])
total_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5609 entries, 0 to 5608
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country_full            5609 non-null   object
 1   year                    5609 non-null   int32
 2   rank                    5609 non-null   float64
 3   annual_distance_rank    5609 non-null   float64
 4   avg_rank_rolling        5609 non-null   float64
 5   highest_rank_rolling    5609 non-null   float64
 6   total_points            5609 non-null   float64
 7   annual_distance_points  5609 non-null   float64
 8   punten                  5609 non-null   int64
dtypes: float64(6), int32(1), int64(1), object(1)
memory usage: 372.6+ KB

In [10]:
total_df

,country_full,year,rank,annual_distance_rank,avg_rank_rolling,highest_rank_rolling,total_points,annual_distance_points,punten
0,Afghanistan,2003,199.000000,0.0,199.0,199.000000,42.833333,0.0,3
1,Afghanistan,2005,198.833333,1.3,198.4,197.500000,57.750000,-5.0,3
2,Afghanistan,2006,181.454545,-17.4,194.2,181.454545,67.363636,9.6,2
3,Afghanistan,2007,186.250000,4.8,192.6,181.454545,24.333333,-43.0,0
4,Afghanistan,2008,187.000000,0.8,191.7,181.454545,32.750000,8.4,7
...,...,...,...,...,...,...,...,...,...
5604,Zimbabwe,2020,110.250000,-2.4,81.9,46.200000,1180.250000,2.4,2
5605,Zimbabwe,2021,113.375000,3.1,82.9,46.200000,1160.501250,-19.7,7
5606,Zimbabwe,2022,123.333333,10.0,84.2,46.200000,1138.560000,-21.9,4
5607,Zimbabwe,2023,124.714286,1.4,85.5,46.200000,1140.274286,1.7,2
5608,Zimbabwe,2024,123.000000,-1.7,86.6,46.200000,1144.110000,3.8,0

# Combineer de datasets tot één tabel

In [11]:
full_set = games_since_2010.merge(total_df, left_on=['home_team', 'year'], right_on=['country_full', 'year']).merge(fifaranking_annual, left_on=['away_team', 'year'], right_on=['country_full', 'year'], suffixes=("_home", "_away"))
display(full_set)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,...,total_points_home,annual_distance_points_home,punten,country_full_away,rank_away,annual_distance_rank_away,avg_rank_rolling_away,highest_rank_rolling_away,total_points_away,annual_distance_points_away
0,2010-01-02,Qatar,Mali,0.0,0.0,Friendly,Doha,Qatar,False,2010,...,313.454545,-70.1,14,Mali,58.363636,8.1,64.6,42.666667,544.636364,-62.1
1,2010-01-02,Syria,Zimbabwe,6.0,0.0,Friendly,Kuala Lumpur,Malaysia,True,2010,...,324.363636,-26.0,16,Zimbabwe,115.000000,5.4,68.4,46.200000,234.727273,-68.3
2,2010-01-02,Yemen,Tajikistan,0.0,1.0,Friendly,Sana'a,Yemen,False,2010,...,251.181818,89.0,22,Tajikistan,140.909091,-13.3,143.7,121.100000,136.727273,8.5
3,2010-01-04,Egypt,Mali,1.0,0.0,Friendly,Dubai,United Arab Emirates,True,2010,...,1021.454545,236.7,28,Mali,58.363636,8.1,64.6,42.666667,544.636364,-62.1
4,2010-01-05,Ghana,Malawi,0.0,0.0,Friendly,Manzini,Swaziland,True,2010,...,853.090909,93.6,26,Malawi,80.545455,-24.0,96.8,53.000000,402.545455,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11165,2024-06-30,Mexico,Ecuador,NaN,NaN,Copa América,Glendale,United States,True,2024,...,1656.905000,4.1,6,Ecuador,31.000000,-6.0,43.0,15.666667,1518.710000,19.4
11166,2024-06-30,Jamaica,Venezuela,NaN,NaN,Copa América,Austin,United States,True,2024,...,1428.435000,23.1,13,Venezuela,53.000000,0.3,71.7,26.125000,1444.745000,14.8
11167,2024-07-01,Bolivia,Panama,NaN,NaN,Copa América,Orlando,United States,True,2024,...,1284.215000,-3.6,3,Panama,44.500000,-2.8,86.8,40.416667,1475.620000,30.3
11168,2024-07-02,Brazil,Colombia,NaN,NaN,Copa América,Santa Clara,United States,True,2024,...,1786.370000,-29.2,8,Colombia,13.000000,-3.1,19.5,4.250000,1659.785000,27.0
11169,2024-07-02,Costa Rica,Paraguay,NaN,NaN,Copa América,Austin,United States,True,2024,...,1441.475000,-16.0,13,Paraguay,56.000000,5.1,37.9,10.583333,1430.730000,-5.9

In [12]:
validation = full_set.loc[(full_set['tournament'] == "UEFA Euro") & (full_set['year'] == 2024)]
display(validation.head())

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,...,total_points_home,annual_distance_points_home,punten,country_full_away,rank_away,annual_distance_rank_away,avg_rank_rolling_away,highest_rank_rolling_away,total_points_away,annual_distance_points_away
11099,2024-06-14,Germany,Scotland,5.0,1.0,UEFA Euro,Munich,Germany,False,2024,...,1637.715,0.0,13,Scotland,36.5,3.2,40.2,18.166667,1502.175,-10.7
11102,2024-06-15,Hungary,Switzerland,1.0,3.0,UEFA Euro,Cologne,Germany,True,2024,...,1528.665,13.9,9,Switzerland,19.0,4.6,27.1,7.500000,1614.925,-29.8
11103,2024-06-15,Spain,Croatia,3.0,0.0,UEFA Euro,Berlin,Germany,True,2024,...,1730.070,17.0,10,Croatia,10.0,2.1,24.3,5.833333,1719.320,-10.7
11104,2024-06-15,Italy,Albania,2.0,1.0,UEFA Euro,Dortmund,Germany,True,2024,...,1721.710,0.3,13,Albania,65.0,1.7,78.1,41.666667,1378.895,7.6
11108,2024-06-16,Slovenia,Denmark,1.0,1.0,UEFA Euro,Stuttgart,Germany,True,2024,...,1429.620,19.8,12,Denmark,21.0,2.1,18.3,4.900000,1602.015,0.5

# Verander het format naar een score per team

In [13]:
full_set.drop(['tournament', 'city', 'country', 'neutral', 'year', 'country_full_home', 'country_full_away'],
              axis=1, inplace=True)

In [14]:
full_set

,date,home_team,away_team,home_score,away_score,home_rec_ag,home_rec_wr,home_rec_lr,away_rec_ag,away_rec_wr,...,highest_rank_rolling_home,total_points_home,annual_distance_points_home,punten,rank_away,annual_distance_rank_away,avg_rank_rolling_away,highest_rank_rolling_away,total_points_away,annual_distance_points_away
0,2010-01-02,Qatar,Mali,0.0,0.0,1.400000,0.4,0.4,1.200000,0.4,...,52.000000,313.454545,-70.1,14,58.363636,8.1,64.6,42.666667,544.636364,-62.1
1,2010-01-02,Syria,Zimbabwe,6.0,0.0,0.600000,0.2,0.4,1.400000,0.4,...,80.400000,324.363636,-26.0,16,115.000000,5.4,68.4,46.200000,234.727273,-68.3
2,2010-01-02,Yemen,Tajikistan,0.0,1.0,1.200000,0.6,0.2,1.400000,0.4,...,90.800000,251.181818,89.0,22,140.909091,-13.3,143.7,121.100000,136.727273,8.5
3,2010-01-04,Egypt,Mali,1.0,0.0,1.800000,0.6,0.2,1.000000,0.4,...,11.181818,1021.454545,236.7,28,58.363636,8.1,64.6,42.666667,544.636364,-62.1
4,2010-01-05,Ghana,Malawi,0.0,0.0,1.000000,0.0,0.6,0.600000,0.2,...,19.800000,853.090909,93.6,26,80.545455,-24.0,96.8,53.000000,402.545455,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11165,2024-06-30,Mexico,Ecuador,NaN,NaN,1.000000,0.2,0.4,1.666667,0.4,...,6.083333,1656.905000,4.1,6,31.000000,-6.0,43.0,15.666667,1518.710000,19.4
11166,2024-06-30,Jamaica,Venezuela,NaN,NaN,1.666667,0.6,0.0,0.666667,0.0,...,31.100000,1428.435000,23.1,13,53.000000,0.3,71.7,26.125000,1444.745000,14.8
11167,2024-07-01,Bolivia,Panama,NaN,NaN,0.333333,0.0,0.6,1.666667,0.4,...,26.500000,1284.215000,-3.6,3,44.500000,-2.8,86.8,40.416667,1475.620000,30.3
11168,2024-07-02,Brazil,Colombia,NaN,NaN,2.333333,0.2,0.0,3.666667,0.6,...,1.000000,1786.370000,-29.2,8,13.000000,-3.1,19.5,4.250000,1659.785000,27.0
11169,2024-07-02,Costa Rica,Paraguay,NaN,NaN,2.333333,0.4,0.0,0.333333,0.2,...,18.750000,1441.475000,-16.0,13,56.000000,5.1,37.9,10.583333,1430.730000,-5.9

In [15]:
home_stats = full_set[['date', 'home_team', 'home_score', 'home_rec_ag', 'home_rec_wr', 'home_rec_lr', 'home_h2h_ag',
                       'home_h2h_wr', 'home_h2h_lr', 'rank_home', 'annual_distance_rank_home', 'avg_rank_rolling_home',
                       'highest_rank_rolling_home', 'total_points_home', 'annual_distance_points_home',
                       'rank_away', 'annual_distance_rank_away', 'avg_rank_rolling_away', 'highest_rank_rolling_away',
                       'total_points_away', 'annual_distance_points_away']]
home_diff = home_stats[['rank_home', 'annual_distance_rank_home', 'avg_rank_rolling_home','highest_rank_rolling_home',
                'total_points_home', 'annual_distance_points_home', 'rank_away',
                'annual_distance_rank_away', 'avg_rank_rolling_away','highest_rank_rolling_away', 'total_points_away',
                'annual_distance_points_away']].diff(periods=-6, axis=1).iloc[:,:6].\
    rename(columns={'rank_home': 'rank', 'annual_distance_rank_home': 'adr_diff', 'avg_rank_rolling_home': 'arr_diff',
                    'highest_rank_rolling_home': 'hrr_diff', 'total_points_home': 'total_points_diff',
                    'annual_distance_points_home': 'adp_diff'})
home_stats = pd.concat([home_stats, home_diff], axis=1)
home_stats = home_stats.drop(['rank_home', 'annual_distance_rank_home', 'avg_rank_rolling_home', 'highest_rank_rolling_home',
                              'total_points_home', 'annual_distance_points_home', 'rank_away',
                              'annual_distance_rank_away', 'avg_rank_rolling_away', 'highest_rank_rolling_away',
                              'total_points_away', 'annual_distance_points_away'], axis=1)
home_stats.columns = home_stats.columns.str.removeprefix("home_")
home_stats.head()

,date,team,score,rec_ag,rec_wr,rec_lr,h2h_ag,h2h_wr,h2h_lr,rank,adr_diff,arr_diff,hrr_diff,total_points_diff,adp_diff
0,2010-01-02,Qatar,0.0,1.4,0.4,0.4,NaN,NaN,NaN,41.909091,2.9,10.8,9.333333,-231.181818,-8.0
1,2010-01-02,Syria,6.0,0.6,0.2,0.4,NaN,NaN,NaN,-15.636364,-2.7,31.8,34.200000,89.636364,42.3
2,2010-01-02,Yemen,0.0,1.2,0.6,0.2,2.000000,1.0,0.0,-29.090909,-17.1,-12.7,-30.300000,114.454545,80.5
3,2010-01-04,Egypt,1.0,1.8,0.6,0.2,0.800000,0.4,0.6,-47.181818,-28.1,-35.4,-31.484848,476.818182,298.8
4,2010-01-05,Ghana,0.0,1.0,0.0,0.6,4.666667,1.0,0.0,-56.363636,14.6,-52.8,-33.200000,450.545455,15.6

In [16]:
away_stats = full_set[['date', 'away_team', 'away_score', 'away_rec_ag', 'away_rec_wr', 'away_rec_lr', 'away_h2h_ag',
                       'away_h2h_wr', 'away_h2h_lr', 'rank_home', 'annual_distance_rank_home', 'avg_rank_rolling_home',
                       'highest_rank_rolling_home', 'total_points_home', 'annual_distance_points_home',
                       'rank_away', 'annual_distance_rank_away', 'avg_rank_rolling_away', 'highest_rank_rolling_away',
                       'total_points_away', 'annual_distance_points_away']]
away_diff = away_stats[['rank_home', 'annual_distance_rank_home', 'avg_rank_rolling_home','highest_rank_rolling_home',
                'total_points_home', 'annual_distance_points_home', 'rank_away',
                'annual_distance_rank_away', 'avg_rank_rolling_away','highest_rank_rolling_away', 'total_points_away',
                'annual_distance_points_away']].diff(periods=6, axis=1).iloc[:,6:12].\
    rename(columns={'rank_away': 'rank', 'annual_distance_rank_away': 'adr_diff', 'avg_rank_rolling_away': 'arr_diff',
                    'highest_rank_rolling_away': 'hrr_diff', 'total_points_away': 'total_points_diff',
                    'annual_distance_points_away': 'adp_diff'})
away_stats = pd.concat([away_stats, away_diff], axis=1)
away_stats = away_stats.drop(['rank_home', 'annual_distance_rank_home', 'avg_rank_rolling_home', 'highest_rank_rolling_home',
                              'total_points_home', 'annual_distance_points_home', 'rank_away',
                              'annual_distance_rank_away', 'avg_rank_rolling_away', 'highest_rank_rolling_away',
                              'total_points_away', 'annual_distance_points_away'], axis=1)
away_stats.columns = away_stats.columns.str.removeprefix("away_")
away_stats.head()

,date,team,score,rec_ag,rec_wr,rec_lr,h2h_ag,h2h_wr,h2h_lr,rank,adr_diff,arr_diff,hrr_diff,total_points_diff,adp_diff
0,2010-01-02,Mali,0.0,1.2,0.4,0.2,NaN,NaN,NaN,-41.909091,-2.9,-10.8,-9.333333,231.181818,8.0
1,2010-01-02,Zimbabwe,0.0,1.4,0.4,0.2,NaN,NaN,NaN,15.636364,2.7,-31.8,-34.200000,-89.636364,-42.3
2,2010-01-02,Tajikistan,1.0,1.4,0.4,0.6,1.0,0.0,1.0,29.090909,17.1,12.7,30.300000,-114.454545,-80.5
3,2010-01-04,Mali,0.0,1.0,0.4,0.2,1.0,0.6,0.4,47.181818,28.1,35.4,31.484848,-476.818182,-298.8
4,2010-01-05,Malawi,0.0,0.6,0.2,0.4,0.0,0.0,1.0,56.363636,-14.6,52.8,33.200000,-450.545455,-15.6

In [17]:
score_set = pd.concat([home_stats, away_stats])
print(len(score_set.index))
display(score_set.tail())

22340

,date,team,score,rec_ag,rec_wr,rec_lr,h2h_ag,h2h_wr,h2h_lr,rank,adr_diff,arr_diff,hrr_diff,total_points_diff,adp_diff
11165,2024-06-30,Ecuador,NaN,1.666667,0.4,0.2,1.6,0.4,0.4,16.5,-7.1,28.4,9.583333,-138.195,15.3
11166,2024-06-30,Venezuela,NaN,0.666667,0.0,0.2,1.2,0.6,0.2,-3.0,2.2,12.0,-4.975000,16.310,-8.3
11167,2024-07-01,Panama,NaN,1.666667,0.4,0.2,1.8,0.8,0.2,-41.0,-4.4,13.9,13.916667,191.405,33.9
11168,2024-07-02,Colombia,NaN,3.666667,0.6,0.0,1.0,0.2,0.4,8.0,-4.5,16.4,3.250000,-126.585,56.2
11169,2024-07-02,Paraguay,NaN,0.333333,0.2,0.2,1.0,0.6,0.2,3.0,-1.8,-6.9,-8.166667,-10.745,10.1

# Trainen van het model

Plus een klein beetje voorbewerking van de data

In [ ]:
training_data = score_set.dropna().drop(['date'], axis=1)
training_data

In [ ]:
# Importeer de benodigde modules

from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score, RepeatedKFold, GridSearchCV
from sklearn import metrics
from sklearn.preprocessing import StandardScaler

from numpy import absolute, mean, std, arange
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Normaliseer de kolommen met rankinginformatie en transferwaarde

scaler = StandardScaler()
scaler.fit(training_data[['rank', 'adr_diff', 'arr_diff', 'hrr_diff', 'total_points_diff', 'adp_diff']])
scaled = scaler.fit_transform(training_data[['rank', 'adr_diff', 'arr_diff', 'hrr_diff', 'total_points_diff', 'adp_diff']])
training_data[['rank', 'adr_diff', 'arr_diff', 'hrr_diff', 'total_points_diff', 'adp_diff']] = scaled

In [ ]:
# Plot de correlatie tussen de variabelen

corr = training_data.drop(['team', 'score'], axis=1).corr()
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
# Verdeel de data in trainings- en targetvariabelen

x = training_data.drop(['team', 'score', 'h2h_wr', 'rank', 'hrr_diff'], axis=1)
y = training_data['score']

## Linear Regression

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)
lin_model = LinearRegression()
lin_model.fit(x_train, y_train)
display(pd.DataFrame(lin_model.coef_, x.columns, columns = ['Coeff']))

In [ ]:
predictions = lin_model.predict(x_test)
# print(metrics.mean_squared_error(y_test, predictions))
# plt.scatter(y_test, predictions)
predictions = [max(round(p, 0), 0) for p in predictions]
plt.scatter(y_test, predictions)
print(metrics.mean_absolute_error(y_test, predictions))

## Logistic Regression

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)
log_model = LogisticRegression()
log_model.fit(x_train, y_train)

In [ ]:
predictions = log_model.predict(x_test)
plt.scatter(y_test, predictions)
print(metrics.mean_absolute_error(y_test, predictions))

# Voorspellen van de groepsfase

In [ ]:
v_work = validation.drop(['tournament', 'city', 'country', 'neutral', 'year', 'country_full_home', 'country_full_away'],
                         axis=1)
v_home_stats = v_work[['date', 'home_team', 'home_score', 'home_rec_ag', 'home_rec_wr', 'home_rec_lr', 'home_h2h_ag',
                       'home_h2h_wr', 'home_h2h_lr', 'rank_home', 'annual_distance_rank_home', 'avg_rank_rolling_home',
                       'highest_rank_rolling_home', 'total_points_home', 'annual_distance_points_home',
                       'rank_away', 'annual_distance_rank_away', 'avg_rank_rolling_away', 'highest_rank_rolling_away',
                       'total_points_away', 'annual_distance_points_away']]
v_home_diff = v_home_stats[['rank_home', 'annual_distance_rank_home', 'avg_rank_rolling_home','highest_rank_rolling_home',
                'total_points_home', 'annual_distance_points_home', 'rank_away',
                'annual_distance_rank_away', 'avg_rank_rolling_away','highest_rank_rolling_away', 'total_points_away',
                'annual_distance_points_away']].diff(periods=-6, axis=1).iloc[:,:6].\
    rename(columns={'rank_home': 'rank', 'annual_distance_rank_home': 'adr_diff', 'avg_rank_rolling_home': 'arr_diff',
                    'highest_rank_rolling_home': 'hrr_diff', 'total_points_home': 'total_points_diff',
                    'annual_distance_points_home': 'adp_diff'})
v_home_stats = pd.concat([v_home_stats, v_home_diff], axis=1)
v_home_stats = v_home_stats.drop(['rank_home', 'annual_distance_rank_home', 'avg_rank_rolling_home', 'highest_rank_rolling_home',
                              'total_points_home', 'annual_distance_points_home', 'rank_away',
                              'annual_distance_rank_away', 'avg_rank_rolling_away', 'highest_rank_rolling_away',
                              'total_points_away', 'annual_distance_points_away'], axis=1)
v_home_stats.columns = v_home_stats.columns.str.removeprefix("home_")
v_away_stats = v_work[['date', 'away_team', 'away_score', 'away_rec_ag', 'away_rec_wr', 'away_rec_lr', 'away_h2h_ag',
                       'away_h2h_wr', 'away_h2h_lr', 'rank_home', 'annual_distance_rank_home', 'avg_rank_rolling_home',
                       'highest_rank_rolling_home', 'total_points_home', 'annual_distance_points_home',
                       'rank_away', 'annual_distance_rank_away', 'avg_rank_rolling_away', 'highest_rank_rolling_away',
                       'total_points_away', 'annual_distance_points_away']]
v_away_diff = v_away_stats[['rank_home', 'annual_distance_rank_home', 'avg_rank_rolling_home','highest_rank_rolling_home',
                'total_points_home', 'annual_distance_points_home', 'rank_away',
                'annual_distance_rank_away', 'avg_rank_rolling_away','highest_rank_rolling_away', 'total_points_away',
                'annual_distance_points_away']].diff(periods=6, axis=1).iloc[:,6:12].\
    rename(columns={'rank_away': 'rank', 'annual_distance_rank_away': 'adr_diff', 'avg_rank_rolling_away': 'arr_diff',
                    'highest_rank_rolling_away': 'hrr_diff', 'total_points_away': 'total_points_diff',
                    'annual_distance_points_away': 'adp_diff'})
v_away_stats = pd.concat([v_away_stats, v_away_diff], axis=1)
v_away_stats = v_away_stats.drop(['rank_home', 'annual_distance_rank_home', 'avg_rank_rolling_home', 'highest_rank_rolling_home',
                              'total_points_home', 'annual_distance_points_home', 'rank_away',
                              'annual_distance_rank_away', 'avg_rank_rolling_away', 'highest_rank_rolling_away',
                              'total_points_away', 'annual_distance_points_away'], axis=1)
v_away_stats.columns = v_away_stats.columns.str.removeprefix("away_")
v_score_set = pd.concat([v_home_stats, v_away_stats])
print(len(v_score_set.index))
display(v_score_set.tail())

In [ ]:
scaler = StandardScaler()
scaler.fit(v_score_set[['rank', 'adr_diff', 'arr_diff', 'hrr_diff', 'total_points_diff', 'adp_diff']])
scaled = scaler.fit_transform(v_score_set[['rank', 'adr_diff', 'arr_diff', 'hrr_diff', 'total_points_diff', 'adp_diff']])
v_score_set[['rank', 'adr_diff', 'arr_diff', 'hrr_diff', 'total_points_diff', 'adp_diff']] = scaled

In [ ]:
v_x = v_score_set.drop(['date', 'team', 'score', 'h2h_wr', 'rank', 'hrr_diff'], axis=1).fillna(0)
display(v_x)

In [ ]:
predictions = lin_model.predict(v_x)
predictions = [max(round(p, 0), 0) for p in predictions]

In [ ]:
v_score_set['score'] = predictions
display(v_score_set)

In [ ]:
validation_output = validation[['date', 'home_team', 'away_team']]
results = validation_output.merge(v_score_set, left_on=['date', 'home_team'], right_on=['date', 'team']).merge(v_score_set, left_on=['date', 'away_team'], right_on=['date', 'team'], suffixes=("_home", "_away"))
display(results[['date', 'home_team', 'away_team', 'score_home', 'score_away']])